.header
{
    width: auto;
    padding: 50px;
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
}
.body-section
{
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    margin: 0px;
}
.cover-heading
{
    width: 60%;
    vertical-align: middle;
    font-size: 90px;
    text-align: center;
    padding: 60px;
    color: #ffffff;
}
.image
{
    width: 90%;
    text-align: center;
    padding: 30px;
}
.heading
{
    width: 60%;
    font-size: 30px;
    padding: 30px;
    color: #173542;
}
.heading
{
    width: 50%;
    font-size: 18px;
    padding: 30px;
    color: #212121;
}
.div-section
{
    min-height: 500px;
    padding: 50px;
    align-content: center;
}