.header
{
    width: auto;
    padding: 30px;
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
}
.body-section
{
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    margin: 0px;
}
.cover-heading
{
    font-size: 30px;
    text-align: center;
    padding: 30px;
    color: #ffffff;
}